{% extends "layout.html" %}

{% block title %}
Log In
{% endblock %}

{% block main %}
<div class="center" style="margin-top: 50px">
    <div class="flex-container _box">
        <img class="image" src="{{ url_for('static', filename='pin.png')}}">
        <p class="center page_title"> Welcome! </p>
        <form action="/login" method="post">
            <div class="mb-3">
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto input" id="username"
                    name="username" placeholder="Username" type="text">
            </div>
            <div class="mb-3">
                <input class="form-control mx-auto w-auto input" id="password" name="password" placeholder="Password"
                    type="password">
            </div>
            <div class="center" style="margin-bottom: 30px">
                <button class="links" type="submit"> Log In </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}